<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Explorer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="rounded-3 text-light rounded-3 mb-4">
    <nav class="py-3 bg-success-subtle text-success-emphasis bg-image boarder border-bottom border-4" style="
    background-image: url('https://www.hovia.com/app/uploads/mint-green-geometric-wallpaper-mural-Room-1024x664.jpg');
    height: 10vh;
  ">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav fs-4 fw-normal ">
                <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active" href="/">Home</a>
                </li>
                <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active"
                        href="/dashboard">Dashboard</a></li>
                {{#if logged_in}}
                <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active logOut"
                        href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item col-6 col-lg-auto"><a class="nav-link py-2 px-0 px-lg-2 active" href="/">Login</a>
                </li>
                {{/if}}
            </ul>
            <h2 class="text-end">The State Reviewer</h2>
        </div>
    </nav>
</header>
    {{{body}}}
    <footer class=" bg-success text-center text-white">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-2" style="
    background-image: url('https://www.hovia.com/app/uploads/mint-green-geometric-wallpaper-mural-Room-1024x664.jpg');
    height: 5vh;
  ">
            © 2019 Copyright:
            <a class="text-white" href="https://github.com/linuscth">The State Reviewer</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-DZy0YhjV2K4LCwStfN0VnGy4eGxi7Mvi5kQWr4/7pYYo/3c+Ys8nx5gVKMvDzqGZ"
        crossorigin="anonymous"></script>
    <script src="/js/logout.js"></script>
</body>

</html>