<div class="p-5">
    <form class="m-5 border border-3 p-5 bg-body-tertiary addReviewForm" id="{{state.id}}">
        <h5 class="text-success-emphasis mb-3">let's Add Review!</h5>
        <select class="form-select  p-2 my-3 pickState" aria-label="Default select example">
            <option selected>Open this select state</option>
            {{#each states as |state|}}
            <option value="{{state.id}}">{{state.name}}</option>
            {{/each}}
        </select>

        <div class="mb-3 input-group">
            <span class="input-group-text reviewTopic">Topic </span>
            <input type="text" class="form-control inputReviewTopic">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Review</span>
            <textarea class="form-control reviewDetails " aria-label="Review"></textarea>
        </div>
        <div class="rating">
            <input type="radio" name="rating" id="star1" value="1">
            <label for="star1"></label>
            <input type="radio" name="rating" id="star2" value="2">
            <label for="star2"></label>
            <input type="radio" name="rating" id="star3" value="3">
            <label for="star3"></label>
            <input type="radio" name="rating" id="star4" value="4">
            <label for="star4"></label>
            <input type="radio" name="rating" id="star5" value="5">
            <label for="star5"></label>


        </div>
        <button type="submit" class="btn btn-success btn-md my-3">Submit</button>
    </form>
</div>
<script src="/js/addReview.js"></script>